.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f7ecdc;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #f7ecdc;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
